<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>메인페이지입니당</h1>
    <a href="/careers">커리어 리스트로 가기</a><br />
    <a href="/climb">클라이밍용품 리스트로 가기</a><br />
    <a href="/food">음식 리스트로 가기</a><br />
    <a href="/fruit">과일 리스트로 가기</a><br />
    <a href="/webtoon">웹툰 리스트로 가기</a><br />
    <a href="/product">제품 리스트로 가기</a><br />
  </body>
</html>
`
