<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>에피소드가 300 이상인 것 찾기</title>
  </head>
  <body>
    <h1>에피소드가 300 이상인 것 찾기</h1>
    <table>
      <thead>
        <tr>
          <th>제목</th>
          <th>작가</th>
          <th>장르</th>
          <th>에피소드</th>
        </tr>
      </thead>
      <tbody>
        <% webepisodes.forEach(web => { %>
        <tr>
          <td><%= web.title %></td>
          <td><%= web.author %></td>
          <td><%= web.genre %></td>
          <td><%= web.episodes %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div><a href="/webtoon/">뒤로가기</a></div>
  </body>
</html>
