<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>climb index</title>
  </head>
  <body>
    <h1>climb</h1>
    <table>
      <thead>
        <tr>
          <th>이름</th>
          <th>브랜드</th>
          <th>타입</th>
          <th>가격</th>
        </tr>
      </thead>
      <tbody>
        <% climbList.forEach(climb => { %>
        <tr>
          <td><%= climb.name %></td>
          <td><%= climb.brand %></td>
          <td><%= climb.type %></td>
          <td><%= climb.price %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div><a href="/climb/climbprice">가격이 30000원 이상인 물품</a></div>
    <div><a href="/climb/climbtype">타입이 안전 장비인 것</a></div>
    <div><a href="/climb/climbdia">브랜드가 블랙다이아몬드인 것</a></div>
    <div><a href="/climb/climbchalk">이름이 쵸크백인 것</a></div>
  </body>
</html>
