<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이름이 세글자 인 것 찾기</title>
  </head>
  <body>
    <h1>fruit</h1>
    <table>
      <thead>
        <tr>
          <th>이름</th>
          <th>색깔</th>
          <th>맛</th>
        </tr>
      </thead>
      <tbody>
        <% fruitlen.forEach(fruit => { %>
        <tr>
          <td><%= fruit.name %></td>
          <td><%= fruit.color %></td>
          <td><%= fruit.taste %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div><a href="/fruit/">뒤로가기</a></div>
  </body>
</html>
